<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<ul>
  <% listings.reverse().forEach(function(listing) { %>
    <li>
      Address: <%= listing.address %> Picture: <img src="images/listings/<%= listing.picture_filename %>" height="42" width="42" />
    </li>
  <% }) %>
</ul>

<form ref='uploadForm' id='uploadForm' encType="multipart/form-data"  action="/listings" method="post">
  <fieldset>
    <legend>Create a new listing</legend>
    <label>
      Address:
      <input type="string" name="address" />
	Picture: <input type="file" name="imageFile" />
      <input type="submit" value="Create listing" />
    </label>
  </fieldset>
</form>
