<!-- HERO SECTION -->
<section class="header">
   <div class="container about">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h2><center>Feeling at home?</center></h2>
                <center>Your ideal home awaits, just enter your zip code!</center>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="searchbar div-centered col-lg-7">
                <form action="<%= fa17g09_env_prefix %>/search" method="post" class="form-inline">
                    <div class="input-group col-12">
                        <input type="query" name="city" id="search" class="form-control" placeholder="Enter address, zip code, or city ..." aria-label="Search for..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>      
                </form>
            </div>
        </div>
    </div>
</section>

<!-- DIVIDER -->
<div class ="divider">
    <hr align="left" width="100%">
</div>

<!-- ABOUT SECTION -->
<section class="container">
    <!-- CONTENT -->
    <div class="row about">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h2><center>What is HouseShop</center></h2>
            <center>HouseShop is the up and coming premier way to browse and find a home that suits to your every liking. With our simple and intuitive design, we can find you your dream house in no time!  </center>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <form action="<%= fa17g09_env_prefix %>/search" method="get" class="form-inline div-centered">
            <button name="city" type="submit" value="Search" class="form-control btn btn-primary btn-lg">
                Show All Listings
            </button>            
        </form>
    </div>
</section>
