<form ref='uploadForm' id='uploadForm' encType="multipart/form-data"  action="<%= fa17g09_env_prefix %>/listings" method="post">
  <fieldset>
    <legend>Create a new listing</legend>
    <label>
      Address:
      <input type="string" name="Address" />
      <br/>City:
      <input type="string" name="City" />
      <br/>State:
      <input type="string" name="State" />
      <br/>Zipcode:
      <input type="string" name="zipcode" /><br/>
      <br/>Number of Bedrooms:
      <input type="string" name="numBedrooms" /><br/>
      <br/>Number of Bathrooms:
      <input type="string" name="numBathrooms" /><br/>
      <br/>Square Footage:
      <input type="string" name="squareFeet" /><br/>
      <br/>Price:
      <input type="string" name="price" /><br/>
      <br/>Description:
      <input type="string" name="description" /><br/>

	Picture: <input type="file" name="imageFile" /><br/>
    Picture2: <input type="file" name="imageFile2" /><br/>
      <input type="submit" value="Create listing" />
    </label>
  </fieldset>
</form>
