<div class="container">
    <h2>Messages Prototype</h2>
    <p>This is the message prototype:</p>
    <form action="/messages" method="post">
      <div class="form-group">
        <label for="comment">Message:</label>
        <textarea class="form-control" rows="2" id="comment" name="messages"></textarea>
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
</div>

<div class="container">
    <h2>My Current Conversations</h2>
    <p>These are the current conversations:</p>
    <section class="container">
        <%results.forEach(function(result) { %>   
          <div class="row">
              <p>Sender: <%= result.sender %> </p> 
              <p>&nbsp Receiver: <%= result.receiver %> </p> 
              <p>&nbsp Message: <%= result.content %> </p>     
          </div>
        <% }) %>
      </section>
  </div>