<div class="container">
    <h2>Messages Prototype</h2>
    <p>This is the message prototype:</p>
    <form action="/messages" method="post" class="form-inline div-centered">
      <div class="form-group">
        <label for="comment">Message:</label>
        <textarea class="form-control" rows="5" id="comment" name="messages"></textarea>
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
</div>