html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    font-family: 'Lato', sans-serif;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 2%;
}

h1 {
    margin: 0;
}

p {
    margin-top: 16px;
}

.image-logo {
    width: 40px;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.filter button {
    margin: 0 1%;
    border-radius: .25rem;
}

.div-centered {
    margin: 0 auto;
}

.text-centered {
    text-align: center;
}

.row {
    text-align: center;
}

.navbar-toggler {
    padding: .25rem;
}

.col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.nav-end { 
    justify-content: flex-end !important; 
}

.alert {
    margin-bottom: 0;
}

.home {
    padding: 0;
}

/* not 'about', should be called header? */
.about { 
    padding-top: 5%;
    padding-bottom: 3%;
}

/* HOME PAGE */
.header .searchbar {
    padding-bottom: 5%;
}

/* SEARCH */
.listing-address, .listing-features {
    text-shadow: 2px 2px 8px #343a40;
}

.listing-address {
    position: absolute;
    left: 3rem;
    top: 1rem;
}

.listing-features {
    position: absolute;
    right: 3rem;
    top: 2rem;
}

.listing-features i {
    padding: 0.4rem;
}
/*  LISTING  */
.filter {
    padding: 1%;
    background-color: #343a40;
}

.thumbnail img { width: 25rem; }

.thumbnail {
    position: relative; 
    margin: 20px;
}

.caption {
    position: absolute;
    top: 50%; 
    left: 0; 
    bottom: 0;
    right: 0;
    color: #fefefe;
    /*background-color: rgba(108, 122, 137, 0.5);*/
}

.caption p, h4 {
    margin: 0;
    padding-top: 0.5rem;
}

.listing-images {
    width: 100%;
}

.listing-images .container {
    margin: 0;
    padding: 0;
}

.listing-image-container {
    margin: 0;
    /*display: flex !important;*/
}

.listing-image-container img {
    padding: 0;
}

.listing-info {
    text-align: justify;
}

.listing-info h3 {
    font-size: 1.2rem;
}

/* Listing: Image slider */
.carousel-item {
    max-height: 400px;
    max-width: 100%;
}

.carousel-item img {
    width: 100%;
}