html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    font-family: 'Lato', sans-serif;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 2%;
}

h1 {
    margin: 0;
}

p {
    margin-top: 16px;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.filter button {
    margin: 0 1%;
    border-radius: .25rem;
}

.div-centered {
    margin: 0 auto;
}

.row {
    text-align: center;
}

.col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.nav-end { 
    justify-content: flex-end !important; 
}

.alert {
    margin-bottom: 0;
}

.home {
    padding: 0;
}

/* not 'about', should be called header? */
.about { 
    padding-top: 5%;
    padding-bottom: 3%;
}

/* HOME PAGE */
.header .searchbar {
    padding-bottom: 5%;
}

/*  LISTING  */
.filter {
    padding: 1%;
    background-color: #343a40;
}

.thumbnail img { width: 300px; }

.thumbnail {
    position: relative; 
    margin: 20px;
}

.caption {
    position: absolute;
    top: 50%; 
    left: 0; 
    bottom: 0;
    right: 0;
    color: #fefefe;
    background-color: rgba(108, 122, 137, 0.5);
}
.centered-form{
    margin-top: 10px;
}
.center-sign_up_in{
    margin-left:25%;
}
.center-terms{
    margin-left:4%;
}
.astext {
    background:none;
    border:none;
    margin:0;
    margin-left:-50%;
    padding:0;
    text-decoration: underline; 
}
.center-footer{
    margin-right:42.6%;
}
.modal-size{
    width:50%;
    margin-left:-40%;
}