/*html {
    overflow-y: scroll; 
}
*/

a {
  text-decoration:none;
  transition:.5s ease;
}

a:hover {
    text-decoration: none;
}

.form {
  background:rgba($form-bg,.9);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    font-family: 'Lato', sans-serif;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 2%;
}

h1 {
    margin: 0;
}

p {
    margin-top: 16px;
}

.image-logo {
    width: 40px;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.filter button {
    margin: 0 1%;
    border-radius: .25rem;
}

.div-centered {
    margin: 0 auto;
}

.text-centered {
    text-align: center;
}

.row {
    text-align: center;
}

.nav a, .btn-log-in {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
}
.btn-log-in {

}
.nav-item {
    padding: 0 0.5rem;
}

.navbar-toggler {
    padding: .25rem;
}

.col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
.nav-end { 
    justify-content: flex-end !important; 
}

.alert {
    margin-bottom: 0;
}

.home {
    padding: 0;
}

/* SIGN IN/UP MODAL FORMS*/
.centered-form{
    margin-top: 10px;
}
.center-sign_up_in{
    margin-left:20%;
    width:55%;
    max-width: 75%;
    min-width: 60%;
    max-height: 50%;
}
.center-terms{
    margin-left:-1%;
    width:60%;
}
.center-terms2{
    margin-left:-60.75%;
    width:60%;
}
.astext {
    background:none;
    border:none;
    margin:0;
    margin-left:-50%;
    padding:0;
    text-decoration: underline; 
}
.center-footer {
    text-align:center;
    margin-top:-7%;
    margin-right:13%;
       width:75%;   
}
.center-footer2 {
    text-align:center;
    margin-top:-50%;  
}

.modal-size {
    width:50%;
    margin-left:-40%;
}
.listingForm-size {
width:300px;
max-width:75%;
margin-left:2%;
 
}
.divider {
    width:.5px;
    height:auto;
    display:inline-block;
}

/* not 'about', should be called header? */
.about { 
    padding-top: 5%;
    padding-bottom: 3%;
}

.header {
    padding: 2rem;
}

.header div {
    padding: 0.7rem;
}

/* HOME PAGE */
#searchbar {
    padding-bottom: 5%;
}

/* SEARCH-LAYOUT */
.layout-header{
/*    position: fixed;
    z-index: 25;*/
}

/* SEARCH */
.listing-address, .listing-features {
    text-shadow: 2px 2px 8px #343a40;
}

.listing-address {
    position: absolute;
    left: 3rem;
    top: 1rem;
}

.listing-features {
    position: absolute;
    right: 3rem;
    top: 2rem;
}

.listing-features i {
    padding: 0.4rem;
}

/* SEARCH: MAP*/
.container-left, .container-right {
    padding: 0;
}

.container-map {
    /*position: relative;*/
    /*padding-bottom: 56.25%; /* 16:9 */*/
    /*height: 0;*/
}

.google-map {
    /*position: fixed !important;*/
    height: 100%;
 }

 /* SEARCH: THUMBNAIL */
 .card {
    margin-bottom: 1.25rem;
 }

.wrapper-card-img {
    padding: 1.25rem;
}

.card-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    width: 100%;
}

.card-body {
    padding: 0 0 1.1rem 0;
}

/*  LISTING  */
.filter {
    padding: 1%;
    background-color: #343a40;
}

.listing-images {
    width: 100%;
}

.listing-images .container {
    margin: 0;
    padding: 0;
}

.listing-image-container {
    margin: 0;
    /*display: flex !important;*/
}

.listing-image-container img {
    padding: 0;
}

.listing-info {
    text-align: justify;
}

.listing-info h3 {
    font-size: 1.2rem;
}

/* Listing: Image slider */
.carousel-item {
    max-height: 400px;
    max-width: 100%;
}

.carousel-item img {
    width: 100%;
}

/* DASHBOARD */
th {
    text-align: center;
}

.tabs {
    padding: 0;
}

.tab-pane {
    width: 100%;
}

.nav-tabs .nav-item {
    padding: 0;
}
